.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.4fr 0.3fr 2.3fr 1fr; 
    gap: 10px 15px; 
    grid-template-areas: 
      "Navbar Navbar"
      "NameTitle NameTitle"
      "Picture Description"
      ". ."; 
  }
.Picture { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: Picture;
  }
.Description {
    grid-area: Description; 
  }
.NameTitle {
  display: flex;
  justify-content: center;
    grid-area: NameTitle; 
    background-color: red;
    color: white;
  }
.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: Navbar; 
    background-color: red;
    color: white;
  }
.nav-items {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;


}


#nav-item {
  text-decoration: none;
  font-size: 30px;
  padding-left: 3%;
  padding-right: 3%
}